enviar-sendgrid.php
enviar.php
PHPMailer/COMMITMENT
PHPMailer/composer.json
PHPMailer/get_oauth_token.php
PHPMailer/LICENSE
PHPMailer/README.md
PHPMailer/SECURITY.md
PHPMailer/VERSION
PHPMailer/language/phpmailer.lang-af.php
PHPMailer/language/phpmailer.lang-am.php
PHPMailer/language/phpmailer.lang-ar.php
PHPMailer/language/phpmailer.lang-az.php
PHPMailer/language/phpmailer.lang-ba.php
PHPMailer/language/phpmailer.lang-be.php
PHPMailer/language/phpmailer.lang-bg.php
PHPMailer/language/phpmailer.lang-ca.php
PHPMailer/language/phpmailer.lang-ch.php
PHPMailer/language/phpmailer.lang-cs.php
PHPMailer/language/phpmailer.lang-da.php
PHPMailer/language/phpmailer.lang-de.php
PHPMailer/language/phpmailer.lang-el.php
PHPMailer/language/phpmailer.lang-eo.php
PHPMailer/language/phpmailer.lang-es.php
PHPMailer/language/phpmailer.lang-et.php
PHPMailer/language/phpmailer.lang-fa.php
PHPMailer/language/phpmailer.lang-fi.php
PHPMailer/language/phpmailer.lang-fo.php
PHPMailer/language/phpmailer.lang-fr.php
PHPMailer/language/phpmailer.lang-gl.php
PHPMailer/language/phpmailer.lang-he.php
PHPMailer/language/phpmailer.lang-hi.php
PHPMailer/language/phpmailer.lang-hr.php
PHPMailer/language/phpmailer.lang-hu.php
PHPMailer/language/phpmailer.lang-id.php
PHPMailer/language/phpmailer.lang-it.php
PHPMailer/language/phpmailer.lang-ja.php
PHPMailer/language/phpmailer.lang-ka.php
PHPMailer/language/phpmailer.lang-ko.php
PHPMailer/language/phpmailer.lang-lt.php
PHPMailer/language/phpmailer.lang-lv.php
PHPMailer/language/phpmailer.lang-mg.php
PHPMailer/language/phpmailer.lang-ms.php
PHPMailer/language/phpmailer.lang-nb.php
PHPMailer/language/phpmailer.lang-nl.php
PHPMailer/language/phpmailer.lang-pl.php
PHPMailer/language/phpmailer.lang-pt_br.php
PHPMailer/language/phpmailer.lang-pt.php
PHPMailer/language/phpmailer.lang-ro.php
PHPMailer/language/phpmailer.lang-ru.php
PHPMailer/language/phpmailer.lang-sk.php
PHPMailer/language/phpmailer.lang-sl.php
PHPMailer/language/phpmailer.lang-sr.php
PHPMailer/language/phpmailer.lang-sv.php
PHPMailer/language/phpmailer.lang-tl.php
PHPMailer/language/phpmailer.lang-tr.php
PHPMailer/language/phpmailer.lang-uk.php
PHPMailer/language/phpmailer.lang-vi.php
PHPMailer/language/phpmailer.lang-zh_cn.php
PHPMailer/language/phpmailer.lang-zh.php
PHPMailer/src/Exception.php
PHPMailer/src/OAuth.php
PHPMailer/src/PHPMailer.php
PHPMailer/src/POP3.php
PHPMailer/src/SMTP.php
sendgrid-php/.codeclimate.yml
sendgrid-php/.editorconfig
sendgrid-php/.env.sample
sendgrid-php/CHANGELOG.md
sendgrid-php/CODE_OF_CONDUCT.md
sendgrid-php/composer.lock
sendgrid-php/composer.phar
sendgrid-php/CONTRIBUTING.md
sendgrid-php/LICENSE.md
sendgrid-php/LICENSE.txt
sendgrid-php/mail-helper-refactor.md
sendgrid-php/phpcs.xml
sendgrid-php/README.md
sendgrid-php/sendgrid-php.code-workspace
sendgrid-php/sendgrid-php.php
sendgrid-php/sendgrid-php.phpprintf
sendgrid-php/temp.php
sendgrid-php/TODO.txt
sendgrid-php/TROUBLESHOOTING.md
sendgrid-php/USAGE.md
sendgrid-php/USE_CASES.md
sendgrid-php/.vscode/settings.json
sendgrid-php/docker/Dockerfile
sendgrid-php/docker/entrypoint.sh
sendgrid-php/docker/README.md
sendgrid-php/docker/USAGE.md
sendgrid-php/examples/accesssettings/accesssettings.php
sendgrid-php/examples/alerts/alerts.php
sendgrid-php/examples/apikeys/apikeys.php
sendgrid-php/examples/asm/asm.php
sendgrid-php/examples/browsers/browsers.php
sendgrid-php/examples/campaigns/campaigns.php
sendgrid-php/examples/categories/categories.php
sendgrid-php/examples/clients/clients.php
sendgrid-php/examples/contactdb/contactdb.php
sendgrid-php/examples/devices/devices.php
sendgrid-php/examples/geo/geo.php
sendgrid-php/examples/helpers/contacts/recipients.php
sendgrid-php/examples/helpers/mail/example.php
sendgrid-php/examples/helpers/stats/example.php
sendgrid-php/examples/ips/ips.php
sendgrid-php/examples/mail/mail.php
sendgrid-php/examples/mailboxproviders/mailboxproviders.php
sendgrid-php/examples/mailsettings/mailsettings.php
sendgrid-php/examples/partnersettings/partnersettings.php
sendgrid-php/examples/scopes/scopes.php
sendgrid-php/examples/senderauthentication/senderauthentication.php
sendgrid-php/examples/senders/senders.php
sendgrid-php/examples/stats/stats.php
sendgrid-php/examples/subusers/subusers.php
sendgrid-php/examples/suppression/suppression.php
sendgrid-php/examples/templates/templates.php
sendgrid-php/examples/trackingsettings/trackingsettings.php
sendgrid-php/examples/user/user.php
sendgrid-php/examples/whitelabel/whitelabel.php
sendgrid-php/lib/loader.php
sendgrid-php/lib/SendGrid.php
sendgrid-php/lib/contacts/README.md
sendgrid-php/lib/contacts/Recipient.php
sendgrid-php/lib/contacts/RecipientForm.php
sendgrid-php/lib/helpers/contacts/README.md
sendgrid-php/lib/helpers/contacts/Recipients.php
sendgrid-php/lib/helpers/mail/Mail.php
sendgrid-php/lib/helpers/mail/README.md
sendgrid-php/lib/helpers/stats/Stats.php
sendgrid-php/lib/mail/Asm.php
sendgrid-php/lib/mail/Attachment.php
sendgrid-php/lib/mail/BatchId.php
sendgrid-php/lib/mail/Bcc.php
sendgrid-php/lib/mail/BccSettings.php
sendgrid-php/lib/mail/BypassListManagement.php
sendgrid-php/lib/mail/Category.php
sendgrid-php/lib/mail/Cc.php
sendgrid-php/lib/mail/ClickTracking.php
sendgrid-php/lib/mail/Content.php
sendgrid-php/lib/mail/CustomArg.php
sendgrid-php/lib/mail/EmailAddress.php
sendgrid-php/lib/mail/Footer.php
sendgrid-php/lib/mail/From.php
sendgrid-php/lib/mail/Ganalytics.php
sendgrid-php/lib/mail/GroupId.php
sendgrid-php/lib/mail/GroupsToDisplay.php
sendgrid-php/lib/mail/Header.php
sendgrid-php/lib/mail/HtmlContent.php
sendgrid-php/lib/mail/IpPoolName.php
sendgrid-php/lib/mail/Mail.php
sendgrid-php/lib/mail/MailSettings.php
sendgrid-php/lib/mail/MimeType.php
sendgrid-php/lib/mail/OpenTracking.php
sendgrid-php/lib/mail/Personalization.php
sendgrid-php/lib/mail/PlainTextContent.php
sendgrid-php/lib/mail/README.md
sendgrid-php/lib/mail/ReplyTo.php
sendgrid-php/lib/mail/SandBoxMode.php
sendgrid-php/lib/mail/Section.php
sendgrid-php/lib/mail/SendAt.php
sendgrid-php/lib/mail/SpamCheck.php
sendgrid-php/lib/mail/Subject.php
sendgrid-php/lib/mail/SubscriptionTracking.php
sendgrid-php/lib/mail/Substitution.php
sendgrid-php/lib/mail/TemplateId.php
sendgrid-php/lib/mail/To.php
sendgrid-php/lib/mail/TrackingSettings.php
sendgrid-php/lib/mail/TypeException.php
sendgrid-php/lib/stats/Stats.php
sendgrid-php/vendor/autoload.php
sendgrid-php/vendor/composer/autoload_classmap.php
sendgrid-php/vendor/composer/autoload_files.php
sendgrid-php/vendor/composer/autoload_namespaces.php
sendgrid-php/vendor/composer/autoload_psr4.php
sendgrid-php/vendor/composer/autoload_real.php
sendgrid-php/vendor/composer/autoload_static.php
sendgrid-php/vendor/composer/ClassLoader.php
sendgrid-php/vendor/composer/installed.json
sendgrid-php/vendor/composer/LICENSE
sendgrid-php/vendor/sendgrid/php-http-client/.codeclimate.yml
sendgrid-php/vendor/sendgrid/php-http-client/CHANGELOG.md
sendgrid-php/vendor/sendgrid/php-http-client/CODE_OF_CONDUCT.md
sendgrid-php/vendor/sendgrid/php-http-client/CONTRIBUTING.md
sendgrid-php/vendor/sendgrid/php-http-client/Dockerfile
sendgrid-php/vendor/sendgrid/php-http-client/LICENSE.txt
sendgrid-php/vendor/sendgrid/php-http-client/README.md
sendgrid-php/vendor/sendgrid/php-http-client/TROUBLESHOOTING.md
sendgrid-php/vendor/sendgrid/php-http-client/USAGE.md
sendgrid-php/vendor/sendgrid/php-http-client/USE_CASES.md
sendgrid-php/vendor/sendgrid/php-http-client/examples/.env_sample
sendgrid-php/vendor/sendgrid/php-http-client/examples/example.php
sendgrid-php/vendor/sendgrid/php-http-client/lib/Client.php
sendgrid-php/vendor/sendgrid/php-http-client/lib/Response.php
